body {
        
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}
a {
text-decoration: none; /* Забираємо підкреслення */
color: black; /* Задаємо чорний колір */
}

a:visited {
color: black; /* Для відвіданих посилань також чорний колір */
}

.img_logo_vital_blooom{
width: 100px;
}


header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background-color: #f9c2cf;
    padding: 15px 20px;   /*15px  20px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0; /* Закріплення у верхній частині сторінки */
    position: fixed; /* Закріплює хедер */
    width: 100%; /* Розтягування на всю ширину */
    
}

.img_baner{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заповнює контейнер без спотворень */
}
/*=================================================*/

.grid {
display: flex;
gap: 10px;
justify-content: center;
flex-wrap: wrap; /* Додає перенесення кнопок на новий рядок */
}

.card {
flex-grow: 1; /* Дозволяє кнопкам розтягуватися рівномірно */
padding: 11px 10px;
border-radius: 50px;
background-color: #fdc0ce;
color: #ffffff;
text-align: center;
cursor: pointer;
transition: background-color 0.3s;

min-width: 100px; /* Мінімальна ширина кнопки */
max-width: 220px; /* Максимальна ширина кнопки */
text-align: center;
flex-basis: calc(33.33% - 10px); /* Кнопки займають третину ширини з урахуванням відступів */
}

.card:hover {
background-color: #d81b60;
}




footer {
    background-color: #fdc0ce;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

.footer-links {
display: flex;
justify-content: center; /* Центрує елементи по горизонталі */
align-items: center; /* Центрує по вертикалі (якщо потрібно) */
gap: 30px; /* Відстань між елементами */
}

.footer-links i{
font-size: 19px;
}

/*=================================================*/
.search-bar {
margin-right: 50px;
max-width: 300px;
position: relative;
display: flex;
align-items: center;
border-radius: 25px;
background: #fff;
padding: 5px 15px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.search-bar input {
flex: 1;
padding: 10px 15px;
padding-left: 30px; /* Додаємо місце зліва для кнопки */
border: none;
outline: none;
font-size: 14px;
background: transparent;
}
.search-bar button {
position: absolute;
right: 15px; /* Встановлюємо кнопку зліва */
background: transparent;
border: none;
cursor: pointer;
font-size: 18px;
color: #000000; /* Встановлюємо темний колір іконки */
}




.search-results {
    font-size: 14.5px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
   border: 1px solid #edeaea;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 25px;
    z-index: 1000;
}
.search-results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.search-results li {
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.search-results li:hover {
    border-radius: 25px;
    background: #f2ccd5;
}




/* Медіазапит для екрану до 768px */
@media screen and (max-width: 768px) {

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 10px; /* Відстань між елементами */
    }

.card {
max-width: 100px; /* Максимальна ширина кнопки */
}
.search-bar {
max-width: 220px;
padding: 5px 10px;
}
.img_baner{
content: url('https://github.com/vitalblooom/vital_blooom_ua/blob/main/img_for_index_html/IMG_9743.JPEG?raw=true'); /* Для планшетів */
}

.search-bar input {
font-size: 14px;
padding-left: 30px; /* Тримаємо відступ для кнопки */
}
.search-bar button {
font-size: 16px;
color: #000000; /* Встановлюємо темний колір іконки */
}
}

@media screen and (max-width: 480px) {
.search-bar {
max-width: 180px; /* Зменшуємо ширину на дуже маленьких екранах */
padding: 5px 8px;
}
.search-bar input {
font-size: 12px;

}
.search-bar button {
font-size: 14px;
color: #000000; /* Встановлюємо темний колір іконки */
}
}




/*------------плитки-------*/

.product-grid {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}
.product-item {
    flex: 1 1 calc(25% - 16px); /* 4 фото в ряд на великих екранах */
    max-width: calc(25% - 16px);
}
.product-item img {
    
    width: 70%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto; /* Центрування */
}

.product-item img {
    transition: transform 0.2s ease-in-out;
}

.product-item img:hover {
    transform: scale(1.03);
}
@media (max-width: 768px) {
    .product-item {
        flex: 1 1 calc(50% - 16px); /* 2 фото в ряд на мобільних */
        max-width: calc(50% - 16px);
    }
}
